	<div class="header-tab" id="app_header">
		<div class="Swipe-tab Swipe-tab_2 f-cb">
			<!-- 不发生页面跳转，安全起见，所以用javascript: ，若不设置，会发一个空的请求。不利于性能-->
			<a href="javascript:" v-on:click='tabSwitch(0)' class="{{ tab_1_class }}"></a>
			<a href="javascript:" v-on:click='tabSwitch(1)' class="{{ tab_2_class }}"></a>
			<i style="width:{{ index_header_tab_width }}px;transition-duration: {{ header_duration }}s;transform: translate3d( {{ header_position }}px,0,0) "></i>
		</div>
		<em class="header-user"></em>
		<em class="header-checkin"></em>
	</div>